# Python 3.11.7

torch
torcheval
transformers
tqdm

numpy
pandas
scikit-learn
scipy
matplotlib
seaborn
bayesian-optimization

pyYAML
gdown

nltk
argostranslate
tiktoken
openai
lingua-language-detector
bayesian-optimization